*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
}


ul, li, a, button{
    text-decoration: none;
    list-style: none;
    border: none;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.header{
    background: #83A15F;
}

.header * {
    /* color: white; */
}
.header__menu{
    display: flex;
    justify-content: space-between;
}


.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;
    padding-top: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.phone{
    margin-left: 68px;
    font-size: 18px;
}

.menu__list{
    display: flex;
    align-items: center;
    
}

.menu__item{
    font-size: 18px;
    margin-right: 49px;
    color: white;
}
.btn_phone{
    border: none;
    width: 119px;
    height: 45px;
    background: rgb(255, 255, 255);
    background-repeat: 33px;
    color: black;
    border-radius: 33px;
}



.header__about{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.header__about-title{
    font-size: 144px;
    font-weight: bold;
    width: 501px;
    color: white;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}


.header__about-title span{
    margin-left: 181px;
}




.header__about-r {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 43px; 
}



.header__img{

}

.header__img.img-1{
    width: 315px;
    height: 424px;
    
}

.header__img.img-2 {
    position: relative;
    width: 315px;
    height: 596px;
}

.img__after{
    position: relative;
}

.img__after span{
    position: absolute;
    bottom: -82px;
    width: max-content;
    color: white;
    left: 84px;
    font-size: 20px;
    font-weight: bold;

}

.img__after::before {
    content: '';
    position: absolute;
    background-image: url(../img/play-btn.png);
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    z-index: 20;
    bottom: -45px;
    left: 112px;
}


.header__img.img-3{
    width: 340px;
    height: 280px;
    margin-top: -140px;
}

.header__about-subtitle{
    color: white;
    font-size: 22px;
    font-weight: bold;
}



.header__about-btn{
    display: flex;
    margin-top: 71px;
}

.btn-contact{
    cursor: auto;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 188px;
    height: 62px;
    background: #CC9EB0;
    border-radius: 33px;
}

.btn-phone{
    cursor: auto;
    width: 188px;
    height: 62px;
    border-radius: 33px;
    background: #EFCAD9;
    margin-left: 37px;
    
}


.waiter{
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 63px;
    align-items: center;
}


.waiter span{
   margin-left: 14px;
}


.servises__items{
    display: flex;
    justify-content: space-between;
}


.servises *{
    font-family: 'Poppins', sans-serif;
}


.servises__title{
    font-size: 77px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 67px;
    padding-bottom: 100px;

}

.servises__item{
    width: 315px;
    height: 454px;
    border: 1px solid #4D4D4D;
    background: #BBCCA7;
    border-radius: 22px;
    margin-bottom: 29px;
}

.servises__item-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}

.servises__item-img{
    text-align: center;
    margin-top: 41px;
}


.servises__item-about{
    width: 248px;
    height: 192px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    margin-left: 20px;
}


.servises__item-img{

}

.servises__text{
    font-size: 16px;
    text-align: center;
    color: #4F4F4F;
    width: 492px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: SemiBold;

}

.servises_sub__title{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: 707px;
    margin: 0 auto;
    margin-top: 38px;
    padding-bottom: 45px;
}

.about{
    background: #83A15F;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.about-l, .about-r{
    width: 50%;
}

.about__title{
    font-size: 66px;
    font-family: 'Poppins';
    color: white;
    margin-top: 104px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 35px;
    text-transform: uppercase;

}

.about__text{
    font-size: 20px;
    font-size: 20px;
font-family: "Poppins";
font-weight: 400;
color: rgba(255, 255, 255, 1);
width: 565px;
padding-bottom: 30px;

}

.about__item{
    position: relative;
    position: relative;
    color: white;
    font-size: 20px;
    left: 25px;
    margin-top: 10px;
    
}


.about__item::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../img/dots__list-about.png');
    left: -25px;
}


.about__img{
    margin-top: 68px;
    /* text-align: center; */
}


.about__btn{
    margin-top: 65px;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 299px;
    height: 62px;
    border-radius: 33px;
    background: #CC9EB0;
}


.about__title.two{
    text-align: center;
    margin-top: 29px;
    text-transform: uppercase;
}





.uderund{
    background: white;
    font-family: sans-serif;
    padding-bottom: 52px;
}

.uderund__inner{
    display: flex;
    margin-top: 115px;
}


.uderund__title{
    padding-top: 50px;
    font-size: 77px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 59px;
    position: relative;
    padding-bottom: 100px;
    text-transform: uppercase;
}


.uderund__title::after{
    content: '';
    position: absolute;
    background-image: url(../img/arroww.png);
    width: 220px;
    height: 220px;
    margin: 0 auto;
    left: 463px;
    top: 90px;
}

.uderund__text{
    width: 641px;
    height: 626px;
    font-size: 20px;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
}

p.padding{
    margin-top: 18px;
}

.uderund__btn-contact{
    background: #CC9EB0;
    display: block;
    width: 188px;
    height: 62px;
    border-radius: 33px;
    color: wi;
    color: white;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 59px;
}

.contact{
    height: 100vh;
}




.contact__inner{
    display: flex;
}

.maps{
    width: 50%;
    height: 628px;
}

.maps__frame{
    border-radius: 50px 0px 0px 40px;
    width: 100%;
    height: 628px;
}


.contact__title{
    font-size: 77px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}




.form__callback{

    background: white;
    width: 51%;
    border-radius: 0px 40px 40px 0px;
}


.form__title{
    width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}


.form__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;

  }
  
  .form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    
  }
  
  .form__input label {
    margin-bottom: 4px;
    font-size: 10px;
  }
  
  .form__input input {
    width: 100%;
    /* padding: 8px; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width: 100%;
    /* padding: 8px; */
    box-sizing: border-box;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    padding-top: 6px;
    font-family: ;
  }
  
  .form__input:nth-child(1),
  .form__input:nth-child(2) {
    grid-column: span 1;
  }
  
  .form__input:nth-child(3),
  .form__input:nth-child(4) {
    grid-column: span 1;
  }
  
  .form__input:nth-child(5) {
    grid-column: span 2;
  }
  

  .submit{
    width: 415px;
    height: 53px;
    border-radius: 33px;
    background: #CC9EB0;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;

  }

  .gm-style .place-card-large {
    padding: 9px 4px 9px 11px;
    display: none;
}



.footer{
    padding-top: 50px;
    background: #081C19;
    color: white;
    padding-bottom: 130px;
    font-size: 20px;

}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__info{
    width: 250px;
}

.socials{
    display: flex;
   
}

.instagrem{
    margin-left: 27px;
}

.footer__wrapper * {
    margin-top: 10px;
}


.footer__wrapper:nth-child(2) {
    margin-right: 600px; /* Пример значения, настройте по своему усмотрению */
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



.footer__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .footer__wrapper:nth-child(3){
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }


  .btn__footer-contact{
    width: 219px;
    height: 54px;
    background: #CC9EB0;
    border-radius: 33px;
    margin-top: 40px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
  }